<main class="main-section{{#if menus.features.visible}} menu-active{{/if}}">
{{! Features Menu }}
	{{#if flags.editing}}
		{{> "modules/monsterblocks-openai/templates/dnd5e/parts/menuItem.hbs" item=menus.features}}
		{{#unless info.hasAbilities}}
			<p class="menu-hint">{{localize "MOBLOKS5E.EditButtonHint"}}</p>
		{{/unless}}
	{{/if}}

{{! Features }}
	{{#if info.hasFeatures}}
		{{#> "modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs" title="DND5E.Features" hide-title=true section="feats"}}
			{{! Spellcasting Features }}
			{{#each features.casting.items as |casting id|}}
				{{#if @root.flags.casting-feature}}
					{{> "modules/monsterblocks-openai/templates/dnd5e/parts/main/spellcasting.hbs" casting=casting}}
				{{else}}
					{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=casting}}
				{{/if}}
			{{/each}}

			{{! Non-action Features }}
			{{#each features.features.items as |item iid|}}
				{{#unless item.is.specialAction}}
					{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=item}}
				{{/unless}}
			{{/each}}

			{{! Legendary Resistance }}
			{{#if features.legResist.items}}
				{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=features.legResist.items.[0]}}
			{{/if}}
		{{/"modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs"}}
	{{/if}}

{{! Actions }}
	{{#if info.hasActions}}
		{{#> "modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs" title="DND5E.ActionPl" section="actions"}}
			{{! Multiattack }}
			{{#if features.multiattack.items}}
				{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=features.multiattack.items.[0]}}
			{{/if}}

			{{! Attacks }}
			{{#each features.attacks.items as |item iid|}}
				{{#unless item.is.specialAction}}
					{{> "modules/monsterblocks-openai/templates/dnd5e/parts/main/attack.hbs" item=item}}
				{{/unless}}
			{{/each}}

			{{! Other Actions}}
			{{#each features.actions.items as |item iid|}}
				{{#unless item.is.specialAction}}
					{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=item}}
				{{/unless}}
			{{/each}}
		{{/"modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs"}}
	{{/if}}

{{! Bonus Actions }}
	{{#if info.hasBonusActions}}
		{{#> "modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs" title="MOBLOKS5E.BonusActions" section="bonus"}}
			<section>
				{{#each features.bonusActions.items as |item iid|}}
					{{#if item.is.bonusAction}}
						{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=item}}
					{{/if}}
				{{/each}}
			</section>
		{{/"modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs"}}
	{{/if}}

{{! Reactions }}
	{{#if info.hasReactions}}
		{{#> "modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs" title="MOBLOKS5E.Reactions" section="reaction"}}
			<section>
				{{#each features.reaction.items as |item iid|}}
					{{#if item.is.reaction}}
						{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=item}}
					{{/if}}
				{{/each}}
			</section>
		{{/"modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs"}}
	{{/if}}
{{! Legendary Actions }}
	{{#if info.hasLegendaryActions}}
		{{> "modules/monsterblocks-openai/templates/dnd5e/parts/main/legendaryActs.hbs"}}
	{{/if}}

{{! Lair Actions }}
	{{#if (and info.hasLair flags.show-lair-actions)}}
		{{> "modules/monsterblocks-openai/templates/dnd5e/parts/main/lairActs.hbs"}}
	{{/if}}

{{! Loot Items }}
	{{#if info.hasLoot}}
		{{#> "modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs" title="DND5E.Inventory" section="inventory"}}
			<section>
				{{#each features.equipment.items as |item iid|}}
					{{> "modules/monsterblocks-openai/templates/dnd5e/parts/featureBlock.hbs" item=item}}
				{{/each}}
			</section>
		{{/"modules/monsterblocks-openai/templates/dnd5e/collapsibleSection.hbs"}}
	{{/if}}
</main>